@page "/AddProduct"
@using IntusWindowsWeb.Models
@inject HttpClient Http

<h3>AddProducts</h3>
<PageTitle>Create Products</PageTitle>
<h1>Create Products</h1>

<EditForm Model="product" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <InputText id="name" @bind-Value="product.Name" placeholder="Name"/>
    <InputTextArea id="description" @bind-Value="product.Description" placeholder="Description"/>
    <InputNumber id="price" @bind-Value="product.Price" placeholder="Price"/>
    <InputSelect id="type" @bind-Value="product.Type">
        <option value="">Select a type...</option>
        <option value="Window">Window</option>
        <option value="Door">Door</option>
    </InputSelect>
    <InputNumber id="width" @bind-Value="product.Width" placeholder="Width"/>
    <InputNumber id="height" @bind-Value="product.Height" placeholder="Height"/>

    <button type="submit" class="btn btn-primary">Create Products</button>
</EditForm>

@code {
    private ProductData product = new ProductData();

    private async Task HandleValidSubmit()
    {
        var response = await Http.PostAsJsonAsync("http://localhost:5145/api/Intus/product", product);

        if (response.IsSuccessStatusCode)
        {
            product = new ProductData();
        }
        else
        {
            // Handle error
        }
    }

}