@page "/AddProduct"
@using IntusWindowsWeb.Models
@inject HttpClient Http

<h3>AddProducts</h3>
<PageTitle>Create Product</PageTitle>
<h1>Create Products</h1>

<EditForm Model="_product" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="column-layout">
        <InputText id="name" @bind-Value="_product.Name" placeholder="Name"/>
        <InputTextArea id="description" @bind-Value="_product.Description" placeholder="Description"/>
        <InputNumber id="price" @bind-Value="_product.Price" placeholder="Price"/>
        <InputSelect id="type" @bind-Value="_product.Type">
            <option value="" selected="">Select a type...</option>
            <option value="Window">Window</option>
            <option value="Door">Door</option>
        </InputSelect>
        <InputNumber id="width" @bind-Value="_product.Width" placeholder="Width"/>
        <InputNumber id="height" @bind-Value="_product.Height" placeholder="Height"/>
    </div>

    <button type="submit" class="btn btn-primary">Create Product</button>
</EditForm>

@code {
    private const string ApiBase = "intus-web-bruno-perkovic.azurewebsites.net";

    private ProductData _product = new ProductData();

    private async Task HandleValidSubmit()
    {
        var response = await Http.PostAsJsonAsync($"https://intus-web-bruno-perkovic.azurewebsites.net/api/intus/product", _product);

        if (response.IsSuccessStatusCode)
        {
            _product = new ProductData();
        }
    }

}