@page "/Products"
<h3>Products</h3>
@using IntusWindowsWeb.Models
@inject HttpClient Http
@inject NavigationManager NavManager

<h3 class="column-layout">Click on product to see more details</h3>

@if (_products == null)
{
    <p>
        <em>Loading...</em>
    </p>
}

else
{
    foreach (var product in _products)
    {
        <div class="product-detail" @onclick="() => NavigateToProduct(product.Id)">
            <h2>
                Product Name: @product.Name
            </h2>
            <p>
                Product Description: @product.Description
            </p>
            <p>
                Product Price: Price: @product.Price
            </p>
        </div>
    }
}

@code {
    private const string ApiBase = "intus-web-bruno-perkovic.azurewebsites.net";

    private int _pageNumber = 1;
    private int _pageSize = 10;
    private List<ProductData>? _products;

    protected override async Task OnInitializedAsync()
    {
        await GetProducts(_pageNumber, _pageSize);
    }

    private async Task GetProducts(int pageNumber, int pageSize)
    {
        _products = await Http.GetFromJsonAsync<List<ProductData>>($"https://intus-web-bruno-perkovic.azurewebsites.net/api/intus/product");
    }

    private void NavigateToProduct(int productId)
    {
        NavManager.NavigateTo($"/Product/{productId}");
    }

    private async Task PreviousPage()
    {
        if (_pageNumber > 1)
        {
            _pageNumber--;
            await GetProducts(_pageNumber, _pageSize);
        }
    }

    private async Task NextPage()
    {
        _pageNumber++;
        await GetProducts(_pageNumber, _pageSize);
    }
}